##ignore this file##
/server/demo/target/
/server/demo/.classpath
/server/demo/.project
/server/demo/.mvn/
/server/demo/mvnw*
/server/demo/.settings


# dependencies
**/node_modules
# roadhog-api-doc ignore
/webapp/src/utils/request-temp.js
_roadhog-api-doc

# production
/webapp/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log

functions/mock
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase