logging.level.com.example=debug

server.port=8088
spring.datasource.url=jdbc:h2:file:~/test;DB_CLOSE_ON_EXIT=FALSE
#spring.datasource.driver-class-name=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false
#spring.jpa.properties.hibernate.show_sql=true
#spring.jpa.properties.hibernate.use_sql_comments=true
#spring.jpa.properties.hibernate.format_sql=true

http.access-key=
http.secret-key=
http.host=s
http.prefix=/api/sw

spring.rabbitmq.host=
spring.rabbitmq.port=
spring.rabbitmq.username=
spring.rabbitmq.password=
#spring.rabbitmq.host=localhost
#spring.rabbitmq.port=5672
#spring.rabbitmq.username=guest
#spring.rabbitmq.password=guest
# 开启发送确认
spring.rabbitmq.publisher-confirms=true
# 开启发送失败退回
spring.rabbitmq.publisher-returns=true
# 开启ACK
spring.rabbitmq.listener.direct.acknowledge-mode=manual
spring.rabbitmq.listener.simple.acknowledge-mode=manual
#
#
datrix.mq.exchange=ex_datrix4
datrix.mq.routingKey=actionkey
datrix.mq.queue=action
datrix.mq.retry-time=30000

mq.routingKey=operationkey
mq.exchange=ex_file
mq.queue=operation
mq.retry-time=30000

system.exchange-file-id=2019061309_e22c581b1cc900fd5aa417a9c34d3299_lv0
system.user-id=admin